* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --width: 70%;
}

body {
    font-family: Roboto;
    background-color: var(--bg-color);
}

header {
    border: 1px solid black;
    padding: 10px;
    font-size: 1.75rem;
    font-family: Roboto;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width: 100%;
    // border: 1px solid black;

    .naviagation-logo {
        h1 {
            font-size: 1.75rem;
            font-family: Roboto;
        }
    }

    .navigation-lists {
        
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            li {
                list-style-type: none;
                &:hover {
                    scale: 1.1;
                    transition: 0.2s;
                }
                

                a {
                    text-decoration: none ;
                    color: var(--nav-list-font);
                    font-size: 1.3rem;
                    font-family: Roboto;

                    &:hover {
                        scale: 1.1;
                        color: var(--black-font);
                        transition: 0.2s;
                    }
                }
            }
        }
    }

    .navigation-popup {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .navigation-logup {
        background-color: rgb(87, 87, 218);
        padding: 5px 40px ;
        border-radius: 10px;

        &:hover {
            scale: 1.1;
            transition: 0.2s;
        }
        
        a {
            text-decoration: none;
            color: white;
            font-family: Roboto;
            
        }
    }

    .navigation-login {
        background-color: rgb(87, 87, 218);
        padding: 5px 40px ;
        border-radius: 10px;

        &:hover {
            scale: 1.1;
            transition: 0.2s;
        }
        
        a {
            text-decoration: none;
            color: white;
            font-family: Roboto;
            
        }
    }

    .navigation-logout {
        background-color: rgb(87, 87, 218);
        padding: 5px 40px ;
        border-radius: 10px;

        &:hover {
            scale: 1.1;
            transition: 0.2s;
        }
        
        a {
            text-decoration: none;
            color: white;
            font-family: Roboto;
            
        }
    }
}


.container{
    width: var(--width);
    height: 200vh;
    background-color: rgba($color: #ffffff, $alpha: 99%);
    margin: auto;
    padding: 5px 40px;
}
.top-5-films{
    width: 100%;
    margin: auto;  
    background-color: white;
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1.875rem;

    h1 {
        color: var(--black-font);
    }

    .popular-img{
        width: 100%;
        gap: 10px;

        .films-href {
            text-decoration: none;
            color: black;
        }
        .pics{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .faw-pic{
            width: 200px;
            height: 300px;
            border-radius: 5px;
        }
    }
}