* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  border: 1px solid black;
  padding: 10px;
  font-size: 1.75rem;
  font-family: Roboto;
  width: 70%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: 70%;
}
nav .naviagation-logo h1 {
  font-size: 1.75rem;
  font-family: Roboto;
}
nav .navigation-lists ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
nav .navigation-lists ul li {
  list-style-type: none;
}
nav .navigation-lists ul li:hover {
  scale: 1.1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav .navigation-lists ul li a {
  text-decoration: underline;
  color: black;
  font-size: 1.3rem;
}
nav .navigation-logup {
  background-color: rgb(87, 87, 218);
  padding: 5px 40px;
  border-radius: 10px;
}
nav .navigation-logup:hover {
  scale: 1.1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav .navigation-logup a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
}