* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto;
  background-color: #fae3d9;
}

.container {
  width: 70%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  padding: 5px 40px;
}

header {
  border: 1px solid black;
  padding: 10px;
  font-size: 1.75rem;
  font-family: Roboto;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: 100%;
}
nav .naviagation-logo h1 {
  font-size: 1.8rem;
  font-family: Roboto;
}
nav .navigation-lists ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
nav .navigation-lists ul li {
  list-style-type: none;
}
nav .navigation-lists ul li:hover {
  scale: 1.1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav .navigation-lists ul li a {
  text-decoration: none;
  color: rgb(177, 177, 177);
  font-size: 1.3rem;
  font-family: Roboto;
}
nav .navigation-lists ul li a:hover {
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
section .popup-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding: 50px 100px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fae3d9), to(rgb(223, 223, 223)));
  background: linear-gradient(#fae3d9, rgb(223, 223, 223));
}
section .popup-container-2 .popup-header-2 {
  font-family: Roboto;
}
section .popup-forms-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
section .popup-forms-2 input {
  padding: 7px 30px;
  border: none;
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}
section .popup-forms-2 #input-date-2 {
  padding: 7px 60px;
}
section .popup-forms-2 button {
  padding: 7px 60px;
  border: none;
  background-color: rgb(87, 87, 218);
  color: white;
  border-radius: 10px;
  font-size: 0.95rem;
  font-family: Roboto;
  cursor: pointer;
}
section .popup-forms-2 button:hover {
  scale: 0.95;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.err-message {
  color: red;
  text-align: center;
}