body{
    font-family: ROBOTO;
    background-image: url("../top5/img\ 2.jpg");
    background-position: center;
    background-size: cover;
}
.container{
    // height: 150vh;
    width: 70%;
    background-color: rgba($color: #ffffff, $alpha: 0.90);
    margin: auto;
    padding: 5px 40px; 
    border-radius: 10px;
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        width: 100%;
        // border: 1px solid black;
        .navigation-lists {
            
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
    
                li {
                    list-style-type: none;
                    &:hover {
                        scale: 1.1;
                        transition: 0.2s;
                    }
                    
    
                    a {
                        text-decoration: none ;
                        color: rgb(177, 177, 177);
                        font-size: 1.3rem;
                        font-family: Roboto;
    
                        &:hover {
                            scale: 1.1;
                            color: black;
                            transition: 0.2s;
                        }
                    }
                }
            }
        }
    
        .navigation-logup {
            background-color: rgb(87, 87, 218);
            padding: 5px 40px ;
            border-radius: 10px;
    
            &:hover {
                scale: 1.1;
                transition: 0.2s;
            }
            
            a {
                text-decoration: none;
                color: white;
                font-family: Roboto;
                
            }
        }
    }
    .about{
        
        display: flex;
        justify-content: center; 
        width: 100%;
        
        img{
            width: 28%;
            height: 500px;
            border-radius: 5px;
        }
        table{
            padding-left: 20px;
            .table-key{
                font-weight: bold;
                width: 130px; 
            }
        }
    }
    .description {
        width: 50%;
        margin: auto;
        margin-bottom: 70px;
    }
    iframe {
        width: 50%;
        display: block;
        margin: auto;
    }
    .booking{
        background-color: rgb(203, 175, 230);
        width: 50%;
        margin: auto;
        margin-top: 30px;
        // height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2px;
        .boxes{
            width: 30px;
            height: 30px;
            background-color: rgb(148, 230, 148);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    
   
}
