* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
     font-family: Roboto;
     background-color: #fae3d9;
}

.container{
    width: 70%;
    height: 100vh;
    background-color: white;
    margin: auto;
    padding: 5px 40px;
}

header {
    border: 1px solid black;
    padding: 10px;
    font-size: 1.75rem;
    font-family: Roboto;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width: 100%;
    // border: 1px solid black;

    .naviagation-logo {
        h1 {
            font-size: 1.8rem;
            font-family: Roboto;
        }
    }

    .navigation-lists {
        
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            li {
                list-style-type: none;
                &:hover {
                    scale: 1.1;
                    transition: 0.2s;
                }

                a {
                    text-decoration: none ;
                    color: rgb(177, 177, 177);
                    font-size: 1.3rem;
                    font-family: Roboto;

                    &:hover {
                        color: black;
                        transition: 0.2s;
                    }
                }
            }
        }
    }

}


section {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        padding: 50px 100px;
        // border: 1px solid black;
        border-radius: 10px;
        background: linear-gradient(#fae3d9,rgb(240, 240, 240),);

        .popup-header {
            font-family: Roboto;
        }
    }

    .popup-forms {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column  ;
        gap: 20px;

        input {
            padding: 7px 30px;
            border: none;
            background-color:rgb(219, 219, 219) ;
            border-radius: 10px;
        }

        #input-date {
            padding: 7px 60px;
        }

        button {
            padding: 7px 60px;
            border: none;
            background-color: rgb(87, 87, 218);
            color: white;
            border-radius: 10px;
            font-size: 0.95rem;
            font-family: Roboto;
            cursor: pointer;
            &:hover {
                scale: 0.95;
                transition: 0.2s;
            }
        }
    }
}